* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid red;
  /* overflow-x: hidden; */
}
body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  width: 95%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-items: center;
}
.in {
  display: flex;
}

.sec a {
  text-decoration: none;
  color: black;
}
.sec input {
  padding: 10px;
  height: 30px;
}
.img2 img {
  position: relative;
  left: -50px;
  top: 4px;
  width: 80%;
}
.i {
  position: relative;
  left: -90px;
  top: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header {
  text-align: center;
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
.upst {
  display: none;
}

.imgss img {
  max-width: 200px;
}
.secs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: bolder;
}
.firsthr {
  width: 95%;
  margin: auto;
}
.today {
  width: 95%;
  margin: auto;
}
.today h1 {
  font-size: 45px;
  font-weight: normal;
  margin: 20px auto;
  letter-spacing: 3px;
}
.sesecs {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding: 10px 0px 10px 0px;
}
.red {
  color: red;
  font-weight: bold;
}
.intal {
  font-style: italic;
}
.co {
  color: #1b524c;
}
.weird {
  display: flex;
}

.astr img {
  width: 10px;
}
.smallb img {
  text-align: center;
  width: 5%;
  margin: auto;
  margin-top: 20px;
}
.upr img {
  width: 100%;
  max-width: 15px;
}
.news {
  width: 100%;
  background-image: url("../img/unsplash_3ewkNkfJj2k.png");
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.sm img {
  max-width: 150px;
}
.widt {
  width: 95%;
  margin: auto;
  padding-top: 40px;
}
.text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text h3 {
  font-weight: normal;
  font-size: 25px;
}
.widt h2 {
  margin-top: 20px;
  max-width: 580px;
  font-weight: normal;
  font-size: 30px;
}
.btn {
  background-color: #007cb0;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 40px 0px;
  font-size: 18px;
}
.para {
  font-size: 20px;
}
.para a {
  color: #007cb0;
  text-decoration: none;
}
.widtr {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  
}
.mag img {
  width: 100%;
  max-width: 350px;
}
.imgtexs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}
.texts1 {
  width: 100%;
  max-width: 400px;
}
.p {
  margin-bottom: 10px;
}
.pp {
  margin-bottom: 20px;
  font-size: 22px;
}
.texts1 h1 {
  margin-bottom: 10px;
  font-size: 28px;
}
.fist {
  display: flex;
  justify-content: space-between;
  
}
.fist1 .h3 {
  max-width: 350px;
  margin: auto;
}
.medicare {
  margin: 20px auto;
  color: #00000099;
  font-size: 13px;
}
.medicare span {
  font-style: italic;
}
.firp {
  color: #1b524c;
}
.second {
  margin-top: 20px;
}
.gridsec {
  width: 95%;
  margin: auto;
}
.fistgr {
  display: flex;
 
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.headsec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}
.headsec h1 {
  font-weight: normal;
}
.headsec a {
  text-decoration: none;
  color: #007cb0;
  font-weight: bold;
}
.dotss {
  display: flex;
  gap: 10px;
}
.itd {
  width: 95%;
  margin: auto;
}
.gridwrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around ;
}
.dot {
  width: 30px;
  margin: auto;
  position: relative;
  top: 30px;
}
.gradient {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-top: 20px;
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow span {
  font-weight: normal;
}
.cards {
  width: 95%;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 20px;
}
.card {
  background-color: white;
  max-width: 250px;
  text-align: center;
  padding: 30px;
}
.bold {
  color: #e24949b2;
  font-size: 40px;
}

.arr {
  font-weight: normal;
}
.for {
  width: 95%;
  margin: auto;
  overflow-x: hidden;
}
.omn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  max-width: 95%;
  margin: auto;
}
.omn img {
  width: 100%;
  min-width: 120px;
}
.tres {
  max-width: 130px;
}
.om {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 10px;
  min-width: 300px;
  padding-left: 70px;
  margin: auto;
}
.vw {
  left: -27vw;
}

.medicares {
  margin: 10px auto;
  color: #00000099;
  font-size: 12px;
}
.scroll {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 60px;
}
.dotted {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: grey;
}
.bl {
  background-color: #007cb0;
}
.essentials {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-bottom: 40px;
  /* position: relative;
height: 100px;
overflow: hidden; */
}
.report {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-bottom: 40px;
}
.forw {
  width: 95%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  overflow-x: hidden;
  position: relative;
}
.ppp {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 30px;
}
.wonder {
  display: flex;
  justify-content: space-between;
  /* position: absolute;
    top: 70px; 
     width: 100%; */
}
.firsts {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 40%;
}
.seconds {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 40%;
}

.hag img {
  width: 100%;
  min-width: 400px;
}
.hagtext {
  background-color: white;
  text-align: center;
  padding: 10px;
  height: 20vh;
}
.myca {
  max-width: 700px;
}
.myc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  position: relative;
  /* height: 100%; */
  /* position: absolute; */
}
.bo {
  border: 1px solid #1b524c;
  padding: 10px;
}
.allc {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
}
.allcc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mycards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mycard {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-top: 20px;
}
.ss {
  width: 95%;
  margin: 20px auto;
}
.hagg img {
  width: 100%;
  max-width: 250px;
}
.sp {
  padding-top: 50px;
  padding-bottom: 50px;
}
.md {
  font-size: 35px;
  color: #007cb0;
  margin-bottom: 10px;
}
.mdtext {
  font-size: 16.5px;
  margin-top: 15px;
}
.meda {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.meda a {
  color: #007cb0;
  text-decoration: none;
  font-weight: bold;
}
.col {
  background-color: #007cb0;
  height: 5px;
}
.sociallinks {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.allf {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  /* flex-wrap: wrap; */
}
.allf p {
  margin-top: 30px;
} 
.last {
  text-align: center;
  font-size: 12px;
}
.line {
  text-decoration-line: underline;
  text-decoration-color: #007cb0;
  text-decoration-thickness: 2px;
  transition: 3s ease-in-out;
}
@keyframes move {
  100% {
    transform: translateX(10vw);
    /* transform: translateX(-90vh); */
  }
}
.blues {
  background-color: #007cb0;
}

@media (max-width: 900px) {

  * {
    text-align: center;
    margin: auto;
  }
  .allf {
    flex-direction: column;
  }
  .header{
    display: flex;
     justify-content: space-around;
  }
  .how{
    display: flex;
   align-items: flex-end;
   justify-content: flex-start;
    flex-direction: column;
    
  }
  .text {
  
  display: block;
}
  
  .secs{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     position: fixed;
     top: 200px; 
    background-color: grey;
    padding: 30px;
    width: 100%;
    max-width: 200px;
    z-index: 2;
    /* border-radius: 50% 0 0 50%; */

  }
  .shown{
  display: flex;
}
  
  .upst {
  display: block;
}
.sesecs {
  display: none;
}
.widtr {
  flex-direction: column;
  
}
.imgtexs {
 flex-wrap: wrap;
  
}
.cards {
  gap: 20px;
  flex-wrap: wrap;
}
.allc {
  flex-wrap: wrap;
}
.fistgr {
 
  flex-wrap: wrap;
  
}
.om {
 padding-left: 0px;
  flex-wrap: wrap;
  
}
}
