/* section 1  general styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*border: 1px solid red;
  /* overflow-x: hidden; */
}
body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* section 1  nav */
.nav {
  width: 95%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-items: center;
}
.sec a {
  text-decoration: none;
  color: black;
}
.in {
  display: flex;
}
.sec input {
  padding: 10px;
  height: 30px;
}
.img2 img {
  position: relative;
  left: -50px;
  top: 4px;
  width: 80%;
}
.i {
  position: relative;
  left: -90px;
  top: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* section 2  header */
.header {
  text-align: center;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  
}
.imgss img {
  max-width: 200px;
}
 
/* hambuger logo */
.menubtn,
 .menuline {
  display: none;
}

.header .menuline,
.header .ned .menuline {
  padding: 28px 35px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menuline .navline,
.header .ned .menuline .navline {
  background: #007cb0;
  display: block;
  height: 2px;
  width: 30px;
  position: relative;
  transition: background 0.2s ease-out;
}
.header .menuline .navline:before,
.header .ned .menuline .navline:before {
  background: red;
  content: "";
  display: block;
  height: 100%;
  width: 70%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menuline .navline:after,
.header .ned .menuline .navline:after {
  background: grey;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}


/* end */
.secs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: bolder;
}
/* hr */
.firsthr {
  width: 95%;
  margin: auto;
}
/* section 3  today */
.today {
  width: 95%;
  margin: auto;
}
.today h1 {
  font-size: 45px;
  font-weight: normal;
  margin: 20px auto;
  letter-spacing: 3px;
}

.sesecs {
  display: flex;
  
  gap: 14px;
  padding: 10px 0px 10px 0px;
}
.red {
  color: red;
  font-weight: bold;
}
.dropdown{
  display: none;
}

.upr img {
  width: 100%;
  max-width: 15px;
}


.weird {
  display: flex;
}


/* section 4  news */
.news {
  width: 100%;
  background-image: url("../img/unsplash_3ewkNkfJj2k.png");
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}


.widt {
  width: 95%;
  margin: auto;
  padding-top: 40px;
}
.text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sm img {
  max-width: 150px;
}
.text h3 {
  font-weight: normal;
  font-size: 25px;
}
.widt h2 {
  margin-top: 20px;
  max-width: 580px;
  font-weight: normal;
  font-size: 30px;
}
.btn {
  background-color: #007cb0;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 40px 0px;
  font-size: 18px;
}
.para {
  font-size: 20px;
}
.para a {
  color: #007cb0;
  text-decoration: none;
}
/* section 5  called widtr */
.widtr {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  
}
.imgtexs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}
.mag img {
  width: 100%;
  max-width: 350px;
}

.texts1 {
  width: 100%;
  max-width: 400px;
}
.texts1 h1 {
  margin-bottom: 10px;
  font-size: 28px;
}
.medicare {
  margin: 20px auto;
  color: #00000099;
  font-size: 13px;
}
.medicare span,
.intal {
  font-style: italic;
}
/* .p {
  margin-bottom: 10px;
} */
.pp {
  margin-bottom: 20px;
  font-size: 22px;
}
.fist {
  display: flex;
  justify-content: space-between;
  
}
.second {
  margin-top: 20px;
}
.co {
  color: #1b524c;
}
.fist1 .h3 {
  max-width: 350px;
  margin: auto;
}
.smallb img {
  text-align: center;
  width: 5%;
  margin: auto;
  margin-top: 20px;
}

/* hr */
.itd {
  width: 95%;
  margin: auto;
}
/* section 6  called gridsec */
.gridsec {
  width: 95%;
  margin: auto;
}
.headsec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}
.headsec h1 {
  font-weight: normal;
}
.headsec a {
  text-decoration: none;
  color: #007cb0;
  font-weight: bold;
}
.astr img {
  width: 10px;
}
.gridwrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around ;
}

.fistgr {
  display: flex;
 
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.firp {
  color: #1b524c;
}



.dot {
  width: 30px;
  margin: auto;
  position: relative;
  top: 30px;
}
/* section 7  gradient */
.gradient {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-top: 20px;
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow span {
  font-weight: normal;
}
.cards {
  width: 95%;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 20px;
}
.card {
  background-color: white;
  max-width: 250px;
  text-align: center;
  padding: 30px;
}
.bold {
  color: #e24949b2;
  font-size: 40px;
}
/* section 6  columist */
.arr {
  font-weight: normal;
}
/* section 7  columist */
.for {
  width: 95%;
  margin: auto;
  overflow-x: hidden;
}
.omn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  max-width: 95%;
  margin: auto;
}
.omn img {
  width: 100%;
  min-width: 120px;
}
.tres {
  max-width: 130px;
}
.om {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 10px;
  min-width: 300px;
  padding-left: 70px;
  margin: auto;
}
.vw {
  left: -27vw;
}

.medicares {
  margin: 10px auto;
  color: #00000099;
  font-size: 12px;
}
.scroll {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 60px;
}
.dotss {
  display: flex;
  gap: 10px;
}
.dotted {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: grey;
}
.bl {
  background-color: #007cb0;
}
/* section 7  second columinst */
.essentials {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-bottom: 40px;
  /* position: relative;
height: 100px;
overflow: hidden; */
}
.forw {
  width: 95%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  overflow-x: hidden;
  position: relative;
}
.ppp {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 30px;
}
.wonder {
  display: flex;
  justify-content: space-between;
  /* position: absolute;
    top: 70px; 
     width: 100%; */
}
.firsts {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 40%;
}
.seconds {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 40%;
}


.myca {
  max-width: 700px;
}
.myc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  position: relative;
  /* height: 100%; */
  /* position: absolute; */
}

.hag img {
  width: 100%;
  min-width: 400px;
}
.hagtext {
  background-color: white;
  text-align: center;
  padding: 10px;
  height: 20vh;
}

.bo {
  border: 1px solid #1b524c;
  padding: 10px;
}
.allc {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
}
.allcc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.report {
  background: linear-gradient(
    89.84deg,
    #dfe8f1 30.51%,
    rgba(223, 232, 241, 0.66) 61.95%,
    rgba(223, 232, 241, 0.49) 99.86%
  );
  padding-bottom: 40px;
} 
.mycards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mycard {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-top: 20px;
}
.ss {
  width: 95%;
  margin: 20px auto;
}
.hagg img {
  width: 100%;
  max-width: 250px;
}
.sp {
  padding-top: 50px;
  padding-bottom: 50px;
}
.md {
  font-size: 35px;
  color: #007cb0;
  margin-bottom: 10px;
}
.mdtext {
  font-size: 16.5px;
  margin-top: 15px;
}
.meda {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.meda a {
  color: #007cb0;
  text-decoration: none;
  font-weight: bold;
}
.col {
  background-color: #007cb0;
  height: 5px;
}
.sociallinks {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.allf {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  /* flex-wrap: wrap; */
}
.allf p {
  margin-top: 30px;
} 
.last {
  text-align: center;
  font-size: 12px;
}
.line {
  text-decoration-line: underline;
  text-decoration-color: #007cb0;
  text-decoration-thickness: 2px;
  transition: 3s ease-in-out;
}
@keyframes move {
  100% {
    transform: translateX(10vw);
    /* transform: translateX(-90vh); */
  }
}
.blues {
  background-color: #007cb0;
}

@media (max-width: 1240px) {

  * {
    text-align: center;
    margin: auto;
  }
  .allf {
    flex-direction: column;
  }
  .header{
    background-color: white;
  width: 100%;
  z-index: 5;
     }
     .fixed{
  position: fixed;
     }

  .tie{
    background-color: white;
 display: none;
     position: fixed;
     width: 100vw;
     height: 100vh;
     z-index: 5;
     }
  .text{ 
  display: block;
}
.helo{ 
  display: flex;
  justify-content: space-between;
}

  .secs{
  display: block;
  margin: 40px;
    /* border-radius: 50% 0 0 50%; */

  }
  .hove{
  margin: 20px;
  padding: 20px;
}
.menubtn,
 .menuline {
  display: block;
}
  .shown{
  display: block;
}
.show{
  display: block;
}
.z {
  margin: 20px;
  padding: 10px;
 } 
.dropdown{
  display: none;
  position: fixed;
  left: 40%;
  background-color: white;
}
.show{
  display: block;
}
.t,
.u {
  display: none;
}
.widtr {
  flex-direction: column;
  
}
.imgtexs {
 flex-wrap: wrap;
  
}
.cards {
  gap: 20px;
  flex-wrap: wrap;
}
.allc {
  flex-wrap: wrap;
}
.fistgr {
 flex-wrap: wrap;
  
}
.om {
 padding-left: 0px;
  flex-wrap: wrap;
  
}
.omn,.myc {
padding-bottom: 50px;
 overflow-x: auto;
}
.scroll,.wonder {
display: none;
}
}
